body{
    background-color: aquamarine;
}
button{
    background-color: rgb(0, 179, 0);
    color: rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    margin: 10px;
}
button:hover{
    background-color: lightgreen;
}
legend{
    font-size: 24px;
    font-weight: bolder;
}
fieldset{
    border: 5px dashed black;
}
#correo{
    width: 175px;
}