body{
    background-color: aquamarine;
    padding: 10px;
}
h1{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
a:hover{
    color: yellow;
}
img{
    border: 3px solid black;
    background-color: white;
}
button{
    background-color: rgb(0, 179, 0);
    color: rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
    padding: 10px;
    margin: 10px;
}
button:hover{
    background-color: lightgreen;
}
#botones{
    text-align: right;
}
#subirinicio{
    text-align: right;
}